
h1#titulo {
  font-family: White on black;
  text-shadow: 2px 2px 2px blue;
  padding: 10px 0px;
  font-size: 3rem;
  color: rgb(255, 255, 255);
  background-color:#17171700;   
}

.descripcion {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 30px;

}

div#bloque {
  display: flex;
  flex-wrap: wrap;
  min-width: 360px;
  justify-content: start;
  align-items: center;
  background-color: #1a1a1a;
  margin: auto;
  padding: 25px;
  border: solid;
  border-color: #ffffff;
  border-width: 0.1rem;
  z-index:50;
  width: 40%;
  height:100%;
}

p {
  margin-bottom: 13px;
    margin-left: 27px;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 1.3rem;
}

p#p2 {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 30px;
    font-size: 1.0rem;
    font-family: Arial, Helvetica, sans-serif;
}

p#p3 {
  color: white;
  margin-bottom: 0%;
  margin-left: 25px;
  font-size: 1.0rem;
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h1 {
    color: #ffffff;
    margin-bottom: 5px;
    margin-top: 10px;
    margin-left: 30px;
    font-size: 1.4rem;
    font-family: Arial, Helvetica, sans-serif;
}

h2 {
    color: #0082b5;
    margin-bottom: 0px;
    margin-left: 30px;
    font-size: 1.1rem;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h2#h4 {
  color: #ffffff;
  margin-top: 10px;
  margin-bottom: 0px;
  margin-left: 30px;
  font-size: 1.0rem;
  font-family:Arial, Helvetica, sans-serif;
}

b {
  color: #00b3ff;
    margin-top: 5px;
    margin-left: 30px;
    font-size: 1.3rem;
    font-family:Arial, sans-serif;
}

b#requisitos {
  color: #608da0;
    margin-top: 5px;
    margin-left: 30px;
    font-size: 1.3rem;
    font-family:monospace;
}

li {
    color: #ffffff;
    margin-left: 30px;
    margin-top: 5px;
    font-size: 1rem;
    font-family:Arial, sans-serif;
}

ul {
    list-style-type: none;
    margin: 0%;
    padding: 0%;
    z-index: 99;
}

audio {
  margin-top: 10px;
  margin-left: 20px;
}

marquee {
    color: #ffffff;
    margin-top: 20px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

p#inicio {
  font-size: 1.3rem;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  color: #146216;
  height:15px;
  width: 258px;
  text-align: center;
  float: left;
  margin-top: 5px;
}
p#juegos {
  font-size: 1.1rem;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  color: #00b3ff;
  height:10px;
  width: 80px;
  margin-left: 16px;
  float: left;
}
p#paginas {
  font-size: 1.1rem;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  color: #00b3ff;
  height:10px;
  width: 80px;
  float: left;
}
p#programas {
  font-size: 1.1rem;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  color: #00b3ff;
  height:10px;
  width: 50px;
  float: left;
}
p#paginasutiles-datos {
  font-size: 1rem;
  font-family:system-ui, 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #ff0048;
  height:20px;
  width: 100px;
  float: left;
  margin-left: 125px;
}
p#paginasvisuales-satifactorias {
  font-size: 1rem;
  font-family:system-ui, 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #ff0048;
  height:20px;
  width: 100px;
  float: left;
  margin-left: 125px;
}
p#paginasdedibujo-audiovisuales {
  font-size: 1rem;
  font-family:system-ui, 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #ff0048;
  height:40px;
  width: 100px;
  float: left;
  margin-left: 125px;
}
p#paginaswebconjuegos {
  font-size: 1rem;
  font-family:system-ui, 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #ff0048;
  height:20px;
  width: 100px;
  float: left;
  margin-left: 125px;
}

@media (max-width:1280px){
  div#encabezado {
    display: none;
}
div#extra {
  display:none;
}
div#cuadroinfo {
  display: none;
}
a:hover img{
  display:none;
  opacity: 0;
}
text {
  display: none;
}
}

img#ladrillos{
  position:fixed;
  display:block;
  opacity: 0.4;
	top: 23%;
	z-index: -1;
  right: 73.5%;
  width:340px;
  height:472px;
}
img#ladrilloscab{
  position:fixed;
  display:block;
  opacity: 0.4;
	top: 23%;
	z-index: -1;
  left: 73.4%;
  width:340px;
  height:320px;
}
img#ladrillosextra{
  position:fixed;
  display:block;
  opacity: 0.4;
	top: 75%;
	z-index: -1;
  left: 73.4%;
  width:340px;
  height:125px;
}
img#discord{
  position:absolute;
  display:block;
  border:none;
  opacity: 10;
	top: 39%;
	z-index: 4;
  left: 17%;
  width:210px;
  height:57px;
}
div#encabezado {
  position: fixed;
  top: 23%;
  flex-direction: column;
  align-items: flex-end;
  border: solid;
  border-color: #ffffff;
  background-color: black;
  border-width: 0.1rem;
  z-index: 4;
  left: 73.4%;
  width:340px;
  height:320px;
}
div#extra {
  position: fixed;
  top: 75%;
  flex-direction: column;
  align-items: flex-end;
  border: solid;
  border-color: #ffffff;
  background-color: black;
  border-width: 0.1rem;
  z-index: 4;
  left: 73.4%;
  width:340px;
  height:125px;
}
div#cuadroinfo {
  position: fixed;
	top: 23%;
  border: solid;
  border-color: #ffffff;
  background-color: black;
  border-width: 0.1rem;
	z-index: 4;
  right: 73.5%;
  width:340px;
  height:472px;
}

img{
  position: fixed;
	top: 23%;
	display: none;
	flex-direction: column;
	align-items: flex-end;
  border: solid;
  border-color: #ffffff;
  border-width: 0.1rem;
	z-index: 4;
  right: 73.5%;
  width:340px;
  height:210px;
}

a#portal1:hover img{
  display:block;
}
a#fallout1:hover img{
  display:block;
}
a#farcry1:hover img{
  display:block;
}
a#maxpayne1:hover img{
  display:block;
}
a#callofduty1:hover img{
  display:block;
}
a#secretneighbor:hover img{
  display:block;
}
a#helloneighbor1:hover img{
  display:block;
}
a#helloneighbor2:hover img{
  display:block;
}
a#polybridge1:hover img{
  display:block;
}
a#polybridge2:hover img{
  display:block;
}
a#mafia1:hover img{
  display:block;
}
a#mafia2:hover img{
  display:block;
}
a#internetcafesimulator1:hover img{
  display:block;
}
a#internetcafesimulator2:hover img{
  display:block;
}
a#fnaf1:hover img{
  display:block;
}
a#fnaf4:hover img{
  display:block;
}
a#fnaf5:hover img{
  display:block;
}
a#fnafucn:hover img{
  display:block;
}
a#swat4:hover img{
  display:block;
}
a#residentevil4:hover img{
  display:block;
}
a#getting:hover img{
  display:block;
}
a#undertale:hover img{
  display:block;
}
a#passpartout:hover img{
  display:block;
}
a#strandeddeep:hover img{
  display:block;
}
a#clustertruck:hover img{
  display:block;
}
a#streamerlifesimulator:hover img{
  display:block;
}
a#phasmophobia:hover img{
  display:block;
}
a#terraria:hover img{
  display:block;
}
a#projectzomboid:hover img{
  display:block;
}
a#ultrakill:hover img{
  display:block;
}
a#fridayfunkin:hover img{
  display:block;
}
a#ageofmythology:hover img{
  display:block;
}
a#greenhell:hover img{
  display:block;
}
a#csstrike:hover img{
  display:block;
}
a#peopleplayground:hover img{
  display:block;
}
a#minecraft:hover img{
  display:block;
}
a#ultimatechickenhorse:hover img{
  display:block;
}
a#scp:hover img{
  display:block;
}
a#halflife:hover img{
  display:block;
}
a#pepsiman:hover img{
  display:block;
}
a#crashbandicoot:hover img{
  display:block;
}
a#cuphead:hover img{
  display:block;
}
a#teardown:hover img{
  display:block;
}
a#poppyplaytime:hover img{
  display:block;
}
a#terrordrome:hover img{
  display:block;
}
a#area51:hover img{
  display:block;
}
a#contra:hover img{
  display:block;
}
a#pokemmo:hover img{
  display:block;
}
a#x-men:hover img{
  display:block;
}
a#mortalcombat:hover img{
  display:block;
}





p#info {
  color: white;
  margin-left: 20px;
  font-size: 1.1rem;
  width: 300px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
text{
  position:fixed;
	top: 56.5%;
	opacity: 0;
  color: white;
  font-size: 00.93rem;
	z-index: 4;
  right: 75%;
  width:310px;
  height:210px;
}
a#portal1:hover text#infoportal1{
  opacity: 10;
}
a#fallout1:hover text#infofallout1{
  opacity: 10;
}
a#farcry1:hover text#infofarcry1{
  opacity: 10;
}
a#callofduty1:hover text#infocallofduty1{
  opacity: 10;
}
a#maxpayne1:hover text#infomaxpayne1{
  opacity: 10;
}
a#secretneighbor:hover text#infosecretneighbor{
  opacity: 10;
}
a#helloneighbor1:hover text#infohelloneighbor1{
  opacity: 10;
}
a#helloneighbor2:hover text#infohelloneighbor2{
  opacity: 10;
}
a#polybridge1:hover text#infopolybridge1{
  opacity: 10;
}
a#polybridge2:hover text#infopolybridge2{
  opacity: 10;
}
a#mafia1:hover text#infomafia1{
  opacity: 10;
}
a#mafia2:hover text#infomafia2{
  opacity: 10;
}
a#internetcafesimulator1:hover text#infointernetcafesimulator1{
  opacity: 10;
}
a#internetcafesimulator2:hover text#infointernetcafesimulator2{
  opacity: 10;
}
a#fnaf1:hover text#infofnaf1{
  opacity: 10;
}
a#fnaf4:hover text#infofnaf4{
  opacity: 10;
}
a#fnaf5:hover text#infofnaf5{
  opacity: 10;
}
a#fnafucn:hover text#infofnafucn{
  opacity: 10;
}
a#swat4:hover text#infoswat4{
  opacity: 10;
}
a#residentevil4:hover text#inforesidentevil4{
  opacity: 10;
}
a#getting:hover text#infogetting{
  opacity: 10;
}
a#undertale:hover text#infoundertale{
  opacity: 10;
}
a#passpartout:hover text#infopasspartout{
  opacity: 10;
}
a#strandeddeep:hover text#infostrandeddeep{
  opacity: 10;
}
a#clustertruck:hover text#infoclustertruck{
  opacity: 10;
}
a#streamerlifesimulator:hover text#infostreamerlifesimulator{
  opacity: 10;
}
a#phasmophobia:hover text#infophasmophobia{
  opacity: 10;
}
a#terraria:hover text#infoterraria{
  opacity: 10;
}
a#projectzomboid:hover text#infoprojectzomboid{
  opacity: 10;
}
a#ultrakill:hover text#infoultrakill{
  opacity: 10;
}
a#fridayfunkin:hover text#infofridayfunkin{
  opacity: 10;
}
a#ageofmythology:hover text#infoageofmythology{
  opacity: 10;
}
a#greenhell:hover text#infogreenhell{
  opacity: 10;
}
a#csstrike:hover text#infocsstrike{
  opacity: 10;
}
a#peopleplayground:hover text#infopeopleplayground{
  opacity: 10;
}
a#minecraft:hover text#infominecraft{
  opacity: 10;
}
a#ultimatechickenhorse:hover text#infoultimatechickenhorse{
  opacity: 10;
}
a#scp:hover text#infoscp{
  opacity: 10;
}
a#halflife:hover text#infohalflife{
  opacity: 10;
}
a#pepsiman:hover text#infopepsiman{
  opacity: 10;
}
a#crashbandicoot:hover text#infocrashbandicoot{
  opacity: 10;
}
a#cuphead:hover text#infocuphead{
  opacity: 10;
}
a#teardown:hover text#infoteardown{
  opacity: 10;
}
a#poppyplaytime:hover text#infopoppyplaytime{
  opacity: 10;
}
a#terrordrome:hover text#infoterrordrome{
  opacity: 10;
}
a#area51:hover text#infoarea51{
  opacity: 10;
}
a#contra:hover text#infocontra{
  opacity: 10;
}
a#pokemmo:hover text#infopokemmo{
  opacity: 10;
}
a#x-men:hover text#infox-men{
  opacity: 10;
}
a#mortalcombat:hover text#infomortalkombat3{
  opacity: 10;
}



a#portal1:hover text#requisitosportal1{
  color: #ffffff;
  position: fixed;
  flex-direction: column;
	align-items: flex-end;
  font-size: 00.92rem;
	top: 66.5%;
  right: 75%;
	z-index: 100;
  width:310px;
  height:210px;
  opacity: 10;
}
a#fallout1:hover text#requisitosfallout1{
  color: #ffffff;
  position: fixed;
  flex-direction: column;
	align-items: flex-end;
  font-size: 00.92rem;
	top: 66.5%;
  right: 75%;
	z-index: 100;
  width:310px;
  height:210px;
  opacity: 10;
}
a#farcry1:hover text#requisitosfarcry1{
  color: #ffffff;
  position: fixed;
  flex-direction: column;
	align-items: flex-end;
  font-size: 00.92rem;
	top: 66.5%;
  right: 75%;
	z-index: 100;
  width:310px;
  height:210px;
  opacity: 10;
}
a#maxpayne1:hover text#requisitosmaxpayne1{
  color: #ffffff;
  position: fixed;
  flex-direction: column;
	align-items: flex-end;
  font-size: 00.92rem;
	top: 66.5%;
  right: 75%;
	z-index: 100;
  width:310px;
  height:210px;
  opacity: 10;
}
a#callofduty1:hover text#requisitoscallofduty1{
  color: #ffffff;
  position: fixed;
  flex-direction: column;
	align-items: flex-end;
  font-size: 00.92rem;
	top: 66.5%;
  right: 75%;
	z-index: 100;
  width:310px;
  height:210px;
  opacity: 10;
}
a#secretneighbor:hover text#requisitossecretneighbor{
  color: #ffffff;
  position: fixed;
  flex-direction: column;
	align-items: flex-end;
  font-size: 00.92rem;
	top: 66.5%;
  right: 75%;
	z-index: 100;
  width:310px;
  height:210px;
  opacity: 10;
}
a#helloneighbor1:hover text#requisitoshelloneighbor1{
  color: #ffffff;
  position: fixed;
  flex-direction: column;
	align-items: flex-end;
  font-size: 00.92rem;
	top: 66.5%;
  right: 75%;
	z-index: 100;
  width:310px;
  height:210px;
  opacity: 10;
}
a#helloneighbor2:hover text#requisitoshelloneighbor1{
  color: #ffffff;
  position: fixed;
  flex-direction: column;
	align-items: flex-end;
  font-size: 00.92rem;
	top: 66.5%;
  right: 75%;
	z-index: 100;
  width:310px;
  height:210px;
  opacity: 10;
}
a#polybridge1:hover text#requisitospolybridge1{
  color: #ffffff;
  position: fixed;
  flex-direction: column;
	align-items: flex-end;
  font-size: 00.92rem;
	top: 66.5%;
  right: 75%;
	z-index: 100;
  width:310px;
  height:210px;
  opacity: 10;
}
a#polybridge2:hover text#requisitospolybridge2{
  color: #ffffff;
  position: fixed;
  flex-direction: column;
	align-items: flex-end;
  font-size: 00.92rem;
	top: 66.5%;
  right: 75%;
	z-index: 100;
  width:310px;
  height:210px;
  opacity: 10;
}
a#mafia1:hover text#requisitosmafia1{
  color: #ffffff;
  position: fixed;
  flex-direction: column;
	align-items: flex-end;
  font-size: 00.92rem;
	top: 66.5%;
  right: 75%;
	z-index: 100;
  width:310px;
  height:210px;
  opacity: 10;
}
a#mafia2:hover text#requisitosmafia2{
  color: #ffffff;
  position: fixed;
  flex-direction: column;
	align-items: flex-end;
  font-size: 00.92rem;
	top: 66.5%;
  right: 75%;
	z-index: 100;
  width:310px;
  height:210px;
  opacity: 10;
}

















.social-bar {
	position: fixed;
	right: 0;
	top: 45%;
	font-size: 1.5rem;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	z-index: 100;
}
.icon {
	color: white;
	text-decoration: none;
	padding: .7rem;
	display: flex;
	transition: all .5s;
}
.icon-steam {
	background: #466f7e;
}
.icon-instagram {
	background: #a749aa;
}
.icon-youtube {
	background: #e73329;
}
.icon:first-child {
	border-radius: 1rem 0 0 0;
}
.icon:last-child {
	border-radius: 0 0 0 1rem;
}
.icon:hover {
	padding-right: 3rem;
	border-radius: 1rem 0 0 1rem;
	box-shadow: 0 0 .5rem rgba(0, 0, 0, 0.42);
}



body {
  margin: 0;
  font: normal 75% Arial, Helvetica, sans-serif;
}
canvas {
  display: block;
}
#particles-js {
  z-index: -2;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #000000;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}
.count-particles {
  position: fixed;
  background: #000022;
  position: absolute;
  top: 48px;
  left: 0;
  width: 80px;
  color: #13e8e9;
  font-size: 0.8em;
  text-align: left;
  text-indent: 4px;
  line-height: 14px;
  padding-bottom: 2px;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
}
.js-count-particles {
  font-size: 1.1em;
}
#stats,
.count-particles {
  margin-top: 5px;
  margin-left: 5px;
}
#stats {
  border-radius: 3px 3px 0 0;
  overflow: hidden;
}
.count-particles {
  border-radius: 0 0 3px 3px;
}
  